---
layout: default
---

<div id="program">

<div class="row">
<p>For each paper being presented at the workshop, we will host (1) the pre-recorded presentation from SlidesLive, (2) a RocketChat chatroom for text-based discussion, and (3) a Zoom meeting room at the main ICLR virtual workshop site. From each paper's landing page (which you can access by clicking on the title of the relevant paper below), you can find the Slideslive video for offline viewing.</p>
<p>You can see the schedule at <a href="/iclr2020/schedule.html">Schedule</a>, during which authors will join the Zoom Webinar in the main page to allow you to ask them questions face-to-face. </p>
</div>

{% for session in site.data.sessions %}
<div class="row">
<a name="session-{{ session.id }}"></a>
<h3>{{ session.title }}</h3>
<table class="table table-striped">
<thead>
     <tr>
          <th>Title</th>
          <th>Authors</th>
          <th>Paper</th>
          <th>Slides</th>
</thead>
<tbody>

{% for paper in session.papers %}
<tr>

<td>
<span><b><a href="/iclr2020/program/pml4dc_{{ paper.id }}.html">{{ paper.title }}</a></b></span>
{% if paper.kind == "oral" %}
<span> (Oral)</span>
{% elsif paper.kind == "poster" %}
<span> (Poster)</span>
{% elsif paper.kind == "invited" %}
<span> (Invited)</span>
{% endif %}
</td>

<td>
{{ paper.authors }}
</td>

<td>
{% if paper.camera_ready %}
<span><a href="/iclr2020/papers/PML4DC2020_{{ paper.id }}.pdf" target="_blank">Paper</a></span>
{% else %}
<span> </span>
{% endif %}
</td>

<td>
{% if paper.slide_ready %}
<span><a href="/iclr2020/pdf/PML4DC2020_{{ paper.id }}.pdf" target="_blank">Slide</a></span>
{% else %}
<span> </span>
{% endif %}
</td>

</tr>
{% endfor %}
</tbody>
</table>
</div>
{% endfor %}

</div>
