---
---

// $header-bg-color-secondary: #159957;
// $header-bg-color: #155799;

body{
    color: #2e2d2d;
}
.update{
    padding: 10px;
    color: white;
    background-color: #1C8BE2;
}

.update a {
    color: white;
    text-decoration: underline;
}
.headerbox{
    // border: 3px solid blue ;
    background-image: url("../../images/banner2.jpg");
    background-size: cover;
    height: 300px;
    background-repeat: no-repeat;
    background-color: #1C8BE2;
}
.iblock{
    display: inline-block;
}
.headercontent{  
    height: 100%;
    color: #2e2d2d;
}

.centermiddle{
    margin: auto;
    max-width: 950px;
    padding: 0px 20px 0px 20px;
    color: #2e2d2d;
}
.maintopic{
    display: inline-block;
    text-transform: uppercase;
     
    padding:0px 0px 3px 0px;
    font-size: 2.5em;
    font-weight: bold; 
    // border-bottom: 1px solid #251E20; 
}
@media (max-width: 800px) {
    .maintopic { font-size: 1.8em; } 
}
.subtopic{
    padding: 20px 0px 0px 0px;
    font-size: 1.3em;
    text-shadow: 1px 1px #50505015;
}
.border{
    border: 2px solid black;
}
.navtop{
    height: 3px;
    background-color: #1C8BE2;
}
.navbar{

}
.navbutton{
    display: inline-block;
    margin: 0px;
    // border: 1px solid green; 
    padding: 10px 20px 10px 10px;
    transition: background-color 0.5s ease;
    text-decoration: none;
}
.navbutton:hover{
    background-color:  #1C8BE2;
    text-decoration: none;
    color: white;
}
.navactive{
    background-color: #1C8BE2;
    color: white;
}

.headshotbox{
    margin: 10px 15px 0px 0px;
    max-width: 210px;
    // height: 300px;
    // border: 1px solid black;
    // display: flex;
    vertical-align:top;
}
.headshot{
    width: 200px;
    height: 200px;
    object-fit: cover;
    display:block;
    border-radius: 4px;
}
.headshotname{
    margin: 5px 0px 0px 0px;
}
.headshotaffiliation{ 
  
   color: #1C8BE2;
//    cursor: text;
}

.headshotaffiliation:hover{
    // text-decoration: none;
}
table {
  padding: 0; }
  table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0; }
    table tr:nth-child(2n) {
      background-color: #f8f8f8; }
    table tr th {
      font-weight: bold;
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr td {
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr th :first-child, table tr td :first-child {
      margin-top: 0; }
    table tr th :last-child, table tr td :last-child {
      margin-bottom: 0; }

.contributed-talk {
    background-color: #1F9EFF;
}
.welcome-remarks {
    background-color: #1C8BE2;
}
.panel {
    background-color: #187ECC;
}
.awards {
    background-color: #1C8BE2;
}
.break {
    background-color: #365F80;
}
.invited {
      background-color: #6BBFFF;
}

table{
    width: 98%;
}

.slp {
    background: #fff;
    padding: 10px;
    border: 4px solid #eee;
    box-shadow: rgb(204, 204, 204) 2px 2px 14px 0px;
    margin-right: 10px;
  }
  
.rocket {
    background: #fff;
    padding: 10px;
    border: 4px solid #eee;
    box-shadow: rgb(204, 204, 204) 2px 2px 14px 0px;
    margin-left: 10px;
  }
  
  .paper ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
  }
  
  .col {
    padding: 0;
  }
  
  .row {
    margin: 20px;
  }

@import "{{ site.theme }}";


